<!DOCTYPE HTML>
<html>
	<head>
		<title>Blaze-K8</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="static/assets/js/html5shiv.js"></script>
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="stylesheet" href="static/assets/css/ie9.css" />
		<link rel="stylesheet" href="static/assets/css/ie8.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
			<div id="wrapper">
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/avatar.jpg" alt="" /></span>
							<h1>Blaze-K8</h1>
							<p>Software Engineer</p>
						</header>
						<footer>
							<ul class="icons">
								<li><a href="#" class="fa-twitter">Twitter</a></li>
								<li><a href="#" class="fa-instagram">Instagram</a></li>
								<li><a href="#" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Blaze-K8</li>
						</ul>
					</footer>

			</div>

			<script src="static/assets/js/respond.min.js"></script>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>
